@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
svg {
  color: white;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

nav {
  height: 80px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: #0f0f0f;
}

.row {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  padding: 96px 0;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav__container {
  height: 100%;
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav__logo {
  border: 2px solid #008170;
  padding: 8px;
}

.nav__link {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 8px;
  color: #008170;
  border: 2px solid;
  transition: all 0.1s ease;
}

/* .nav__link:hover {
  border: 2px solid #005B41;
} */

.nav__list {
  margin-left: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*  LANDING */

#landing {
  background: rgb(15, 15, 15);
  background: linear-gradient(
    180deg,
    rgba(15, 15, 15, 1) 0%,
    rgba(35, 45, 63, 1) 94%
  );
}

header {
  height: calc(100vh - 80px);
}

.header__container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__description--h1 {
  text-align: center;
  font-size: 64px;
  margin-bottom: 24px;
  color: rgb(0, 129, 112);
  color: linear-gradient(
    30deg,
    rgba(0, 129, 112, 1) 0%,
    rgba(0, 91, 65, 1) 41%,
    rgba(35, 45, 63, 1) 90%
  );
  text-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.header__description--h2 {
  font-size: 36px;
  margin-bottom: 24px;
  text-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.header__description--h2 {
  color: rgb(0, 129, 112);
  color: linear-gradient(
    236deg,
    rgba(0, 129, 112, 1) 0%,
    rgba(0, 91, 65, 1) 53%,
    rgba(35, 45, 63, 1) 79%
  );
}

.header__img--wrapper {
  padding: 20px;
  z-index: 50;
  max-height: 50vh;
  margin: 0 auto;
}

.header-img {
  width: 100%;
}

.browser__engine {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  position: relative;
  border-radius: 50px;
  box-shadow: gray 0px 20px 30px -10px;
  overflow: hidden;
}

#search__list {
  color: rgba(0, 0, 0, 0.87);
  width: 100%;
  max-width: 800px;
  height: 60px;
  padding-left: 20px;
  font-size: 24px;
  border: none;
  border-radius: 50px;
  transition: all 0.3s ease;
}

#search__list:focus {
  outline: none;
  box-shadow: rgba(0, 0, 0) 3px 2px 10px inset;
}

#api-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 10000;
  font-size: 28px;
  width: 3.75rem;
  transition: all 0.1s ease;
  background-color: #232D3F;
  box-shadow: #232D3F 0px 3px 8px;
  border-radius: 99px;
}

#api-button:hover,
.nav__link:hover {
  background-color: #005b41;
  box-shadow: #005b41 0px 3px 8px;
}

#api-button:active {
  font-size: 24px;
}

#about {
  background: rgb(35, 45, 63);
  background: linear-gradient(
    180deg,
    rgba(35, 45, 63, 1) 11%,
    rgba(15, 15, 15, 1) 88%
  );
}

.row-1 {
  padding: 130px 0;
}

.teal-gradient {
  color: rgb(0, 129, 112);
  color: linear-gradient(
    30deg,
    rgba(0, 129, 112, 1) 0%,
    rgba(0, 91, 65, 1) 41%,
    rgba(35, 45, 63, 1) 90%
  );
  text-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.about__h5 {
  font-size: 18px;
  margin-bottom: 30px;
}

.about__h2 {
  text-align: center;
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 0.025em;
}

.about__p {
  text-align: center;
  font-weight: 500;
  line-height: 1.625;
  max-width: 36rem;
  font-size: 20px;
  margin-top: 16px;
}

.button__design {
  cursor: pointer;
  border-radius: 9999px;
  border-width: 0px;
  background-color: #232d3f;
  color: white;
  padding: 12px 32px;
  margin: 32px 0 0;
  font-size: 14px;
  font-weight: 600;
  width: 9rem;
  letter-spacing: 1px;
}

footer {
  background: rgb(15, 15, 15);
}

.divider {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  border-top: 1px solid rgb(0, 129, 112);
  opacity: 0.65;
}

.footer__wrap {
  padding: 36px 0;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer__socials {
  display: flex;
}

.footer__social--wrap {
  width: 2rem;
  border-radius: 999px;
  transition: all .2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fort__Icon {
  color: #008170;
  font-size: 1.5rem;
}

.fort__Icon:hover {
  font-size: 1.75rem;
}

.movies__container {
  background-color: black;
  min-height: calc(100vh - 211px);
}

.movies__box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 0 auto;
}

.movie-card {
  width: 250px;
}

.search-item-img {
  width: 100%;
}

.search-item-info {
  text-align: center;
}
