@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body,
h1,
h2,
h3,
p,
ul,
li {
  color: white;
}

section {
  background-color: black;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

.up__padding {
  padding-top: 80px;
}

nav {
  height: 80px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: #0f0f0f;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.row {
  display: flex;
  max-width: 1200px;
  width: 100%;
  padding: 96px 0;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav__container {
  height: 100%;
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav__logo {
  border: 2px solid #008170;
  padding: 8px;
}

.nav__link {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 8px;
  color: #008170;
  border: 2px solid;
  transition: all 0.1s ease;
}

.nav__list {
  margin-left: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .nav__link:hover {
  border: 2px solid #005B41;
} */

#landing {
  background: rgb(15, 15, 15);
  background: linear-gradient(
    180deg,
    rgba(15, 15, 15, 1) 0%,
    rgba(35, 45, 63, 1) 94%
  );
}

header {
  height: calc(100vh - 80px);
}

.header__container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__description--h1 {
  text-align: center;
  font-size: 64px;
  margin-bottom: 24px;
  color: rgb(0, 129, 112);
  text-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.header__description--h2 {
  font-size: 36px;
  margin-bottom: 24px;
  text-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.header__description--h2 {
  color: rgb(0, 129, 112);
}

.header__img--wrapper {
  padding: 20px;
  z-index: 50;
  max-height: 50vh;
  margin: 0 auto;
}

.header-img {
  width: 100%;
}

.browser__engine {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  position: relative;
  border-radius: 50px;
  box-shadow: gray 0px 20px 30px -10px;
  overflow: hidden;
}

#search__list {
  color: rgba(0, 0, 0, 0.87);
  width: 100%;
  max-width: 800px;
  height: 60px;
  padding-left: 20px;
  font-size: 24px;
  border: none;
  border-radius: 50px;
  transition: all 0.3s ease;
}

#search__list:focus {
  outline: none;
  box-shadow: rgba(0, 0, 0) 3px 2px 10px inset;
}

#api-button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 500;
  font-size: 28px;
  width: 3.75rem;
  transition: all 0.1s ease;
  background-color: #fff;
  box-shadow: #232d3f 0px 3px 8px;
  border-radius: 99px;
  color: #232d3f;
}

#api-button:hover,
.nav__link:hover {
  background-color: #005b41;
  color: #fff;
  box-shadow: #005b41 0px 3px 8px;
}

#api-button:active {
  font-size: 24px;
}

#features {
  background: rgb(35, 45, 63);
  background: linear-gradient(
    180deg,
    rgba(35, 45, 63, 1) 11%,
    rgba(15, 15, 15, 1) 88%
  );
}

.about-h2 {
  transition: all 0.2s ease;
}

.about-h2:hover {
  cursor: pointer;
  letter-spacing: 0.5rem;
}

.row-1 {
  padding: 130px 0;
  flex-direction: column;
}

.features {
  color: rgb(0, 129, 112);
  text-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.teal-gradient {
  border-radius: 0.4rem;
  color: rgb(0, 129, 112);
  background: linear-gradient(
    30deg,
    rgba(0, 129, 112, 1) 0%,
    rgba(0, 91, 65, 1) 41%,
    rgba(35, 45, 63, 1) 90%
  );
  text-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.about__h5 {
  font-size: 18px;
  margin-bottom: 30px;
}

.about__h2 {
  text-align: center;
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 0.025em;
}

.about__p {
  text-align: center;
  font-weight: 500;
  line-height: 1.625;
  max-width: 36rem;
  font-size: 20px;
  margin-top: 16px;
}

.button__design {
  cursor: pointer;
  border-radius: 9999px;
  border-width: 0px;
  background-color: #232d3f;
  color: white;
  padding: 12px 32px;
  margin: 32px 0 0;
  font-size: 14px;
  font-weight: 600;
  width: 9rem;
  letter-spacing: 1px;
}

footer {
  background: rgb(15, 15, 15);
}

.divider {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  border-top: 1px solid rgb(0, 129, 112);
  opacity: 0.65;
}

.footer__wrap {
  padding: 36px 8px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer__socials {
  display: flex;
}

.footer__social--wrap {
  width: 2rem;
  border-radius: 999px;
  transition: all 0.2s ease;
  display: flex;
}

.fort__Icon {
  color: #008170;
  font-size: 1.5rem;
  transition: all 0.1s ease;
  text-align: center;
}

.fort__Icon:hover {
  font-size: 1.4rem;
}

.movies__container {
  min-height: calc(100vh - 131px);
}

.movies__row {
  flex-direction: column;
}

.movies__box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 1rem;
}

.movie-card {
  width: 15.625rem;
  margin: 0.6rem;
  cursor: pointer;
}

.search-item-img {
  width: 100%;
  height: 100%;
}

.search-item-info {
  text-align: center;
  margin-top: 1rem;
}

.search-item-thumbnail {
  width: 13rem;
  height: 18rem;
  margin: 0 auto;
  border-radius: 0.25rem;
  overflow: hidden;
  transition: all 0.2s ease;
}

.search-item-thumbnail:hover {
  scale: 98%;
}

#movie__info {
  background-color: #fff;
  min-height: calc(100vh - 131px);
  display: flex;
  align-items: center;
}

.movie-details-container {
  background-color: #fff;
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px;
  overflow: hidden;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.movie-poster {
  flex: 1;
}

.movie-poster img {
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.movie-info {
  flex: 2;
  padding: 20px;
}

.movie-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.movie-misc-info {
  list-style: none;
  padding: 0;
  margin-bottom: 15px;
}

.movie-misc-info li {
  display: inline-block;
  margin-right: 15px;
  color: #555;
}

.genre,
.writer,
.actors,
.plot,
.language,
.awards {
  margin-bottom: 15px;
  color: #333;
}

.b {
  font-weight: bold;
}

.fa-award {
  color: #008170;
  margin-right: 5px;
}

.fa-circle-notch {
  font-size: 4rem;
  color: #008170;
}

.loading__container {
  min-height: calc(100vh - 131px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: spin 0.75s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fa-star,
.fa-star-half-stroke {
  color: #005b41;
}

.book__ratings {
  margin-bottom: 15px;
}

#about__page {
}

.about__row {
  min-height: calc(100vh - 80px);
  flex-direction: column;
  justify-content: space-between;
  padding: 64px 0 0;
  border-bottom: 1px solid #005b41;
}

.about__header--left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__header--left-h1 {
  font-size: 48px;
  text-align: center;
  font-weight: 900;
  line-height: 1.25;
  letter-spacing: 0.025em;
}

.about__header--left-p {
  font-size: 18px;
  margin: 16px 0 0;
  color: #7c8ba1;
  text-align: center;
  font-weight: 500;
  line-height: 2;
  max-width: 1000px;
}

.about__header--right {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.about__header--right-img {
  width: 505px;
}

.interface__row {
  padding: 164px 0 0;
  border-bottom: 1px solid #005b41;
}

.interface__left {
  display: flex;
  flex-direction: column;
}

.interface__header--left-h1 {
  font-size: 48px;
  text-align: center;
  font-weight: 900;
  line-height: 1.25;
  letter-spacing: 0.025em;
  margin-bottom: 12px;
}

.interface__header--left-p {
  font-size: 18px;
  margin: 16px 0 0;
  color: #7c8ba1;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  max-width: 800px;
}

.interface__right {
  display: flex;
}

.responsive__row {
  flex-direction: column;
  padding: 164px 0 0;
}

.responsive__left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.responsive__header--left-h1 {
  font-size: 48px;
  text-align: center;
  font-weight: 900;
  line-height: 1.25;
  letter-spacing: 0.025em;
}

.responsive__header--left-p {
  font-size: 18px;
  margin: 16px 0 0;
  color: #7c8ba1;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  max-width: 1000px;
}

.responsive__right {
  display: flex;
  justify-content: center;
  padding: 24px 0 0;
  margin: 16px 0 0;
}

.back-btn {
  margin: 36px auto 0;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  width: 110px;
}

.back__movies {
  color: #005b41;
  background-color: #fff;
  transition: all .1s ease;
}

.back__movies:hover {
  color: #fff;
  background-color: #005b41;
}

.back__movies:active {
  scale: .97;
}

.back__movie-info {
  color: #005b41;
  background-color: #fff;
}
